<div class="container">
<div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
<% if current_user %> 
  <ul>
	<li><h4>Welcome</h4></li>  
    <li><%= current_user.username %></li> 
    <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
  </ul> 
<% else %> 
  <ul> 
    <li><%= link_to "Login", 'login' %></a></li> 
    <li><%= link_to "Signup", 'signup' %></a></li> 
  </ul> 
<% end %>
</div>

<div class="main">

    <div class="form-horizontal">        
        <%= form_for @new_post do |t| %>
    	<div class="form-group">
    		<div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
        	<%= t.text_area :comment, id:'text-box' %> <br>
        	</div>
        </div>
        <div class="form-group">
        	<div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
			<%= t.submit "Post", id:'post', class: "btn btn-default"%>
        	</div>
        </div>
        <% end %>
        
        <ul class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
          <% @all_posts.each do |p| %>
  			<div class="comment">
  			<li><%= word_wrap(p.comment, line_width: 5) %><br><br>
			<div class="tag">
			<%= p.created_at %>
			by <%= p.author %></li>
			</div>
			<% end %>
  			</div>
		</ul>

</div>
</div>